{{- $pageurl := .Permalink }}
{{- $shortpageurl := (.Param "shortlink") | default .Permalink }}
{{- $title := .Title }}

{{- $.Scratch.Set "tags" ""}}

{{- with .Params.Tags }}
{{- $hashtags := newScratch}}
{{- range . }}{{ $hashtags.Add "tags" (slice (replaceRE "(\\s)" "" . ))}}{{end}}
{{- $.Scratch.Set "tags" (delimit ($hashtags.Get "tags") ",") }}
{{- end -}}

{{- $custom := false }}
{{- $ShareButtons := (.Param "ShareButtons")}}
{{- with $ShareButtons }}{{ $custom = true }}{{ end }}

<div class="share-buttons-container">
    <h3 class="share-buttons-label">{{ i18n "share_my_post" }}</h3>
    <ul class="share-buttons">
        {{- if (or (cond ($custom) (in $ShareButtons "x") (true)) (cond ($custom) (in $ShareButtons "twitter") (true))) }}
        <li>
            <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on x"
                href="https://x.com/intent/tweet/?text={{ $title }}&amp;url={{ $shortpageurl }}&amp;hashtags={{- $.Scratch.Get "tags" -}}">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
        </li>
        {{- end }}
        {{- if (cond ($custom) (in $ShareButtons "linkedin") (true)) }}
        <li>
            <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on linkedin"
                href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $shortpageurl }}&amp;title={{ $title }}&amp;summary={{ $title }}&amp;source={{ $shortpageurl }}">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
        {{- end }}
        {{- if (cond ($custom) (in $ShareButtons "reddit") (true)) }}
        <li>
            <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on reddit"
                href="https://reddit.com/submit?url={{ $shortpageurl }}&title={{ $title }}">
                <i class="fa-brands fa-reddit"></i>
            </a>
        </li>
        {{- end }}
        {{- if (cond ($custom) (in $ShareButtons "facebook") (true)) }}
        <li>
            <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on facebook"
                href="https://facebook.com/sharer/sharer.php?u={{ $shortpageurl }}">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        {{- end }}
        {{- if (cond ($custom) (in $ShareButtons "whatsapp") (true)) }}
        <li>
            <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on whatsapp"
                href="https://api.whatsapp.com/send?text={{ $title }}%20-%20{{ $shortpageurl }}">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </li>
        {{- end }}
        {{- if (cond ($custom) (in $ShareButtons "telegram") (true)) }}
        <li>
            <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on telegram"
                href="https://telegram.me/share/url?text={{ $title }}&amp;url={{ $shortpageurl }}">
                <i class="fa-brands fa-telegram"></i>
            </a>
        </li>
        {{- end }}
        {{- if (cond ($custom) (in $ShareButtons "ycombinator") (true)) }}
        <li>
            <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on ycombinator"
                href="https://news.ycombinator.com/submitlink?t={{ $title }}&u={{ $pageurl }}">
                <i class="fa-brands fa-y-combinator"></i>
            </a>
        </li>
        {{- end }}
    </ul>
</div>
