.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: var(--theme); /* Adjust as needed */
    z-index: 1000;
    transition: box-shadow 0.3s ease;
}

.header.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    line-height: var(--header-height);
    gap: 10px;
    order: 2;
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: inherit;
    order: 1;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
    transition: color 0.2s ease, transform 0.2s ease;
    display: inline-block;
}

#menu a:hover {
    color: var(--accent);
    transform: translateY(-2px);
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid var(--accent);
    color: var(--accent);
}

.flex-grow {
    flex-grow: 1;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
    line-height: var(--header-height);
    order: 3;
}

.search-button {
    margin: auto 4px;
    font-size: 26px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    order: 4;
}

@media (max-width: 600px) {
    .nav {
        display: none;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--theme);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .nav.active {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    #menu {
        flex-direction: column;
    }

    #menu li + li {
        margin-inline-start: unset;
    }
}