{{ $images := $.Resources.ByType "image" }}
{{ $featured := $images.GetMatch "*feature*" }}
{{ if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end }}
{{ if not $featured }}

    {{ range .Params.categories }}
    {{ if eq . "techblog"  }}
        {{ $featured = resources.Get "/opengraph/techblog.jpg" }}
    {{ else if eq . "electronics" }}
        {{ $featured = resources.Get "/opengraph/electronics.jpg" }}
    {{ else if eq . "health" }}
        {{ $featured = resources.Get "/opengraph/health.jpg" }}
    {{ else }}
        {{ $featured = resources.Get "/opengraph/default.jpg" }}
    {{ end }}
    {{ end }}


    {{ $size := 100 }}
    {{ $title := $.LinkTitle }}
    {{ if gt (len $title) 120 }}
    {{ $size = 65 }}
    {{ else if gt (len $title) 200 }}
    {{ $size = 35 }}
    {{ end }}

    {{ $text := $title }}
                {{ $textOptions := dict 
                    "color" "#FFF"
                    "size" $size
                    "lineSpacing" 5
                    "x" 90 "y" 90
                    "font" (resources.Get "/opengraph/segoe-ui.ttf")
                }}

    {{ $featured = $featured | images.Filter (images.Text $text $textOptions) }}
{{ end }}

{{ return $featured }}

