{{- $s := .site -}}
{{- $kind := .kind -}}
{{- $has := false -}}
{{- if eq $kind "posts" -}}
  {{- $has = gt (len (where $s.RegularPages "Section" "posts")) 0 -}}
{{- else if eq $kind "pages" -}}
  {{- with $s.Home -}}
    {{- $has = true -}}
  {{- end -}}
  {{- if not $has -}}
    {{- range where $s.RegularPages "Section" "" -}}
      {{- if not .Params.robotsNoIndex -}}
        {{- $has = true -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $kind "notes" -}}
  {{- $notesSection := $s.Params.notesSection | default "notes" -}}
  {{- with $s.GetPage "section" $notesSection -}}
    {{- if not .Params.robotsNoIndex -}}
      {{- $has = true -}}
    {{- end -}}
  {{- end -}}
  {{- if not $has -}}
    {{- range where $s.RegularPages "Section" $notesSection -}}
      {{- if not .Params.robotsNoIndex -}}
        {{- $has = true -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $kind "tags" -}}
  {{- $has = gt (len $s.Taxonomies.tags) 0 -}}
{{- else if eq $kind "categories" -}}
  {{- $has = gt (len $s.Taxonomies.categories) 0 -}}
{{- end -}}
{{- return $has -}}
