{{- $canonical := .Permalink -}}
{{- if .Params.canonicalURL -}}
  {{- $canonical = trim .Params.canonicalURL " " -}}
{{- else -}}
  {{- $hub := partial "category_section_hub.html" . -}}
  {{- if $hub -}}
    {{- $canonical = $hub.Permalink -}}
  {{- else if not (and (eq .Section "archives") (not .Params.archiveMonth)) -}}
    {{- with try .Paginator -}}
      {{- if and (eq .Err nil) (gt .Value.PageNumber 1) -}}
        {{- $canonical = .Value.First.URL | absURL -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $canonical = index (split $canonical "#") 0 -}}
{{- return $canonical -}}
