{{- $notesSection := site.Params.notesSection | default "notes" -}}
{{- if or (eq .Kind "term") (and (eq .Kind "section") (eq .Section "posts")) -}}
  {{- if not (and site.Params.profileMode.enabled .IsHome) -}}
    {{- $pages := slice -}}
    {{- if eq .Section "posts" -}}
      {{- $pages = .RegularPagesRecursive -}}
    {{- else -}}
      {{- $pages = union .RegularPages .Sections -}}
    {{- end -}}
    {{- $_ := .Paginate $pages -}}
  {{- end -}}
{{- else if and (eq .Kind "section") (eq .Section $notesSection) -}}
  {{- $perPage := site.Params.notesPerPage | default 20 | int -}}
  {{- $_ := .Paginate (.RegularPages.ByDate.Reverse) $perPage -}}
{{- else if and (eq .Section "archives") (.Params.archiveMonth) (.Params.archiveYear) -}}
  {{- $posts := partial "archive_posts.html" (dict "year" .Params.archiveYear "month" .Params.archiveMonth) -}}
  {{- $_ := .Paginate $posts 15 -}}
{{- end -}}
