<ul class="meta">

    {{- if not (.Param "hideAuthor") -}}
        <li>
            <span class="screen-reader-text">Post author:</span>
            {{- if .Site.Params.footer.avatar }}
            <img src="{{ .Site.Params.footer.avatar }}" alt="{{ .Site.Params.author }}" class="post-meta-avatar">
            {{- else }}
            <i class="fas fa-user-circle" aria-hidden="true" role="img"></i>
            {{- end }}
            {{- with (partial "author.html" .) }}
                {{- . }}
            {{- end }}
        </li>
    {{- end }}

    {{- if not .Date.IsZero -}}
        <li>
            <span class="screen-reader-text">Post published:</span>
            <i aria-hidden="true" role="img" class="far fa-calendar-alt"></i>
            <span title="{{(.Date | time.Format (default "Jan 02, 2006 3:04 PM Z07:00" site.Params.DateFormat))}}">{{(.Date | time.Format (default "January 2, 2006" site.Params.DateFormat))}}</span>
        </li>
    {{- end }}

    {{- if (.Param "ShowReadingTime") -}}
        <li>
            <span class="screen-reader-text">Reading Time:</span>
            <i aria-hidden="true" role="img" class="fa-solid fa-stopwatch"></i>
            {{i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)}}
        </li>
    {{- end }}

    {{- if (.Param "ShowWordCount") -}}
        <li>
            <span class="screen-reader-text">Word Count:</span>
            <i aria-hidden="true" role="img" class="fa-solid fa-hashtag"></i>
            {{i18n "words" .WordCount | default (printf "%d words" .WordCount)}}
        </li>
    {{- end }}

</ul>
