{{- $relatedNote := .Param "relatedNote" -}}
{{- if not $relatedNote }}{{ return }}{{ end -}}
{{- $resolved := partial "note_resolve_url.html" (dict "url" $relatedNote) -}}

<aside class="post-note-link panel panel--tinted">
  <p class="post-note-link-label">
    <i class="fa-solid fa-note-sticky" aria-hidden="true"></i>
    {{ i18n "post_related_note" | default "Related note" }}
  </p>
  <p class="post-note-link-body">
    <a href="{{ $resolved.href }}">
      {{- with $resolved.page -}}
        {{ partial "note_display_title.html" . }}
      {{- else -}}
        {{ $resolved.raw }}
      {{- end -}}
    </a>
  </p>
</aside>
