{{- $paginator := .paginator -}}
{{- $term := .term | default false -}}
{{- $listTitle := .listTitle | default "" -}}
{{- $className := .className | default "" -}}

{{- if gt (len $paginator.Pages) 0 -}}
  {{- with partial "decorators/posts_list_section.html" (dict "listTitle" $listTitle "className" $className "pages" $paginator.Pages "term" $term) -}}
    {{- $ctx := . -}}
    {{- range $i, $page := .pages -}}
      {{- $isFeatured := and (eq $i 0) (eq $ctx.className "posts-list-section--featured-first") -}}
      {{- partial "post_entry_card.html" (dict "page" $page "term" $ctx.term "featured" $isFeatured) -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
<div class="posts-empty">
  <p><i class="fa-solid fa-inbox" aria-hidden="true"></i></p>
  <p>{{ i18n "no_posts_yet" }}</p>
</div>
{{- end -}}
