{{- define "main" -}}

{{- $year := printf "%s" .Params.archiveYear -}}
{{- $posts := partial "archive_posts.html" (dict "year" $year) -}}
{{- $counts := dict -}}
{{- range $posts -}}
  {{- $m := .Date.Format "1" -}}
  {{- $prev := index $counts $m | default 0 -}}
  {{- $counts = merge $counts (dict $m (add $prev 1)) -}}
{{- end -}}

{{- $items := slice -}}
{{- range seq 12 -}}
  {{- $monthInt := sub 13 . -}}
  {{- $monthKey := printf "%d" $monthInt -}}
  {{- with index $counts $monthKey -}}
    {{- $count := . -}}
    {{- $monthPad := printf "%02d" $monthInt -}}
    {{- $monthDate := time.AsTime (printf "%s-%s-01T00:00:00Z" $year $monthPad) -}}
    {{- with site.GetPage (printf "archives/%s/%s" $year $monthPad) -}}
      {{- $items = $items | append (dict
        "href" .RelPermalink
        "value" (time.Format "January" $monthDate)
        "count" $count
      ) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<div class="page-content">
  <header class="page-header">
    <h1>{{ .Title }}</h1>
  </header>

  {{- partial "archive_breadcrumbs.html" . -}}
  {{- partial "archive_picker.html" (dict "title" (i18n "archive_months" | default "Months") "items" $items) -}}
</div>

{{- end -}}
