{{- define "main" }}

  <div class="container py-3">

    <div class="section id-contact py-3">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <h1 class="fw-bold">{{ .Site.Data.resume.name }}</h1>
          <h2>{{ .Site.Data.resume.title }}</h2>
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled">
            <li><i class="fa-solid fa-square-phone me-1"></i><a class="text-decoration-none link-dark" target="_blank" href="tel:{{ .Site.Data.resume.contact.phone }}">{{ .Site.Data.resume.contact.phone }}</a></li>
            <li><i class="fa-solid fa-envelope"></i> <a class="text-decoration-none link-dark" target="_blank" href="mailto:{{ .Site.Data.resume.contact.email }}">{{ .Site.Data.resume.contact.email }}</a></li>
            <li><i class="fa-brands fa-skype"></i> <a class="text-decoration-none link-dark" target="_blank" href="skype:{{ .Site.Data.resume.contact.skype }}?chat">{{ .Site.Data.resume.contact.skype }}</a></li>
            <li class="d-print-none">
              <i class="fa-solid fa-file-pdf"></i> <a class="text-decoration-none link-dark" target="_blank" href="/pdf">PDF</a>
              |
              <i class="fa-solid fa-print"></i> <a class="text-decoration-none link-dark" href="javascript:window.print();">Print</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled">
            <li><i class="fa-solid fa-link"></i> <a class="text-decoration-none link-dark" target="_blank" href="{{ .Site.Data.resume.contact.website }}">{{ .Site.Data.resume.contact.website }}</a></li>
            <li><i class="fa-brands fa-linkedin"></i> <a class="text-decoration-none link-dark" target="_blank" href="{{ .Site.Data.resume.contact.linkedin }}">{{ .Site.Data.resume.contact.linkedin }}</a></li>
            <li><i class="fa-brands fa-github"></i> <a class="text-decoration-none link-dark" target="_blank" href="{{ .Site.Data.resume.contact.github }}">{{ .Site.Data.resume.contact.github }}</a></li>
            <li><i class="fa-brands fa-xing"></i> <a class="text-decoration-none link-dark" target="_blank" href="{{ .Site.Data.resume.contact.xing }}">{{ .Site.Data.resume.contact.xing }}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <div class="section summary py-3">
          <div class="card">
            <div class="card-header">
              <h2>Summary</h2>
            </div>
            <div class="card-body">
              <div class="card-text">
                <p>{{ .Site.Data.resume.summary }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section skills py-3">
          <div class="card">
            <div class="card-header">
              <h2>Skills</h2>
            </div>
            <div class="card-body">
              <div class="card-text">
                <ul>
                  {{ range .Site.Data.resume.skills }}
                  <li><strong>{{ .category }}: </strong> {{ delimit .items ", " }}</li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="section experience py-3">
          <div class="card">
            <div class="card-header">
              <h2>Experience</h2>
            </div>
            <div class="card-body">
              {{ range .Site.Data.resume.experience }}
              <div class="row py-2 border-bottom">
                <div class="col-12">
                  <strong>{{ .title }}</strong>
                  <i>{{ .company }}<small class="text-muted"> ({{ .period }})</small></i>
                  <p>{{ .description }}</p>
                  <ul>
                    {{ range .responsibilities }}
                    <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>

        <div class="section courses py-3">
          <div class="card">
            <div class="card-header">
              <h2>Courses</h2>
            </div>
            <div class="card-body">
              {{ range .Site.Data.resume.courses }}
              <div class="row py-2 border-bottom">
                <div class="col-12">
                  <strong>{{ .title }} - {{ .provider }}</strong>
                  <p>{{ .institution }}<small class="text-muted"> ({{ .year }})</small></p>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  {{- end }}{{/* end main */}}
