{{- partial "get_see_also_pages.html" . -}}
{{- $entries := .Scratch.Get "seeAlsoEntries" -}}
{{- if not $entries -}}{{- return -}}{{- end -}}
{{- $lang := .Lang -}}

<section class="post-continue see-also-posts">
  <h3 class="post-continue-title">{{ i18n "see_also_title" }}</h3>
  <ul class="post-continue-list">
    {{- range $entries -}}
    {{- $target := .Page -}}
    {{- $title := .Label | default $target.Title -}}
    <li class="post-continue-item">
      <a class="post-continue-row" href="{{ $target.Permalink }}">
        <span class="post-continue-label">{{ $title }}</span>
        {{- if $target.Date -}}
        <span class="post-continue-meta">
          {{- partial "display_date.html" (dict "date" $target.Date "lang" $lang "style" "short") -}}
        </span>
        {{- end -}}
      </a>
    </li>
    {{- end -}}
  </ul>
</section>
